body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/KTFu7zP.jpg");
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.delete {
 color: white;
  padding: 20px;
}

a:link {
  color: red;
}

a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: gray;
}

button{
  margin      : 10;
  padding     : 10;
  border      : 10;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
  color: white;

}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

.name {
  color: white;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: white;
  }

.photo img {
    width: 300px; 
    height: auto; 
}


.create {
  display: flex;
 
}

.info {
  color: white;
}

.new {
  color: white;
}



.bio {
  text-align: justify;
  color: white;
  font-size: 25px;
}

.logo img {
  width: 800px;
  height: 200px;
  padding: 20px;
}

.video {
  padding: 20px;
}

