body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.imgur.com/KTFu7zP.jpg");
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;


}
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: white;
  }

  .photo img {
    width: 300px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}



